.full {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.AddWrapper {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
}

.submitBtn {
  margin-top: 10px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

.dp {
  margin-bottom: 15px;
}

.formWrapper form input {
  margin-left: 15px;
}
