.fullWrap {
  height: auto;
  display: grid;
  place-items: center;
  border: 1px solid lightgray;
  border-radius: 100px;
  margin-top: 2vh;
  background-color: white;
}
.listWrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.details {
  display: flex;
  flex-direction: column;
}
.detail {
  margin-bottom: -4vh;
  display: flex;
}

.btn {
  display: flex;
}
