.fullWrap {
  margin-top: 1.2rem;
  display: grid;
  place-items: center;
}
.listWrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.detail {
  display: flex;
}
