.searchContainer {
  border-radius: 0.8rem;
  background-color: lightpink;
  text-align: center;
  width: 70%;
  height: 3vh;
  display: flex;
  padding-left: 2rem;
  border: 0.2rem solid gray;
  margin-top: 0.4rem;
  margin-left: 15%;
}
.inputSearch {
  background-color: transparent;
  border: none;
  padding-left: 0.6rem;
  min-width: 30vw;
  color: black;
  outline: 0;
}
