.wrapper {
  display: flex;
  padding: 2rem;
  height: 4vh;
  background-color: #8146bd;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.headerWrapper {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.addIconWrapper {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.addIcon {
  font-size: 3.5rem;
}

.searchBar {
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 40%;
}
